
    <%# <div class="message"> %>
      <%# if current_user.id == message.user_id %>
        <%# <div class="upper_message"> %>
          <%# <div class="message_user"> %>
            <%#= message.user.nickname %>
            <%# <span>[タイプ:</span> %>
            <%#= message.user.enneagram_type&.type_result&.name %>
          <%# </div> %>
          <%# <div class="message_date"> %>
            <%#= l message.created_at %>
          <%# </div> %>
        <%# </div> %>
      <%# else %>
        <%# <div class="upper_partner_message"> %>
          <%# <div class="message_user"> %>
            <%#= message.user.nickname %>
            <%# <span>[タイプ:</span> %>
            <%#= message.user.enneagram_type&.type_result&.name %>
          <%# </div> %>
          <%# <div class="message_date"> %>
            <%#= l message.created_at %>
          <%# </div> %>
        <%# </div> %>
      <%# end %>


    <div class="message">
      <% if current_user.id == message.user_id %>
        <div class="lower_message">
          <dd class="message_content">
            <h3><span><%= message.content %></span></h3>　
            <%= image_tag message.image.variant(resize: "200 x 200"), class: "message_image" if message.image.attached? %>
          <dd>
          <%# <dd class="arrow-explain"></dd> %>
        </div>
      <% else %>
        <div class="lower_partner_message">
          <dd class="message_partner_content">
            <h3><span><%= message.content %></span></h3>　
            <%= image_tag message.image.variant(resize: "200 x 200"), class: "message_image" if message.image.attached? %>
          <dd>
        </div>
      <% end %>
    </div>