<div class="all_view">
<%= render "shared/header"%>

<div class="main">

  <%= render "shared/side_message"%>

  <div class="chat_main">
    <div class="groups_title">
      <h1>仕事の生産性をサポートする<br>エニアグラムチャット</h1>
    </div>
    <div class="groups_main_logo">
      <%= image_tag 'enneagramChat.png' %>
    </div>
  </div>

</div>

<%= render "shared/footer"%>
</div>