.all_view{
  height: 100vh;
}

.main{
  display: flex;
  height: calc(100% - 100px);
}
.chat_main{
  width: calc(100% - 300px);
}

/* messages-header */

.chat_header {
  background-color: rgb(238, 238, 238);
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.header_title{
  color: rgb(0, 0, 0);
  font-size: 24px;
  margin-top: 36px;
}

.header_button{
  margin: 40px;
}

.header_button a {
  text-decoration: none;
  border: 1px solid darkgray;
  color: rgb(0, 0, 0);
  padding: 20px;
}


/* messages-center */

.messages{
  background-color: rgb(255, 255, 255);
  height: calc(100% - 100px - 90px);
  padding: 46px 40px 0;
  overflow: scroll;
}

.message{
  margin: 10px 0;
}

.upper_message{
  display: flex;
}

.message_user{
  color: rgb(44, 44, 44);
  font-size: 16px;
}

.message_date {
  color: rgb(31, 31, 31);
  font-size: 12px;
  padding-left: 10px;
}

.lower_message{
  margin-top: 10px;
}

.message_content{
  color: #000;
  font-size: 14px;
  margin-bottom: 40px;
}


/* messages-bottom */
.form{
  background-color: rgb(240, 240, 240);
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form_input{
  background-color: #fff;
  width: 100%;
  display: flex;
}

.form_message{
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form_submit{
  background-color: rgb(160, 160, 160);
  border: none;
  color: #fff;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.form_image{
  font-size: 12px;
  background-color: rgb(247, 184, 184);
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden{
  display: none;
}

.field_with_errors{
  display: contents;
}
